:root{
    -o-transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-mono);
}

section {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
}

section h1 {
    font-size: 3em;

}

section h2{
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
    font-size: 2.5em;
    color: white;
}

section form{
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

section form input{
    width: 100%;
    padding: 0.2em;
    margin-bottom: 0.5em;
}

section form input{
    width: 100%;
    margin-bottom: 1em;
    padding: 0.8em;
    border-radius: 9px;
    border: none;
    outline-color: #062147;
    background-color: rgba(255, 255, 255, 0.668);
    font-family: var(--font-mono);
    transition: var(--transition);
}

section form input[type="submit"]{
    margin-top: 1.5em;
    background-color: #062147;
    color: white;
    font-family: var(--font-mono);
    transition: var(--transition);
}

section form input[type="submit"]:active{
    transform: scale(0.97);
}

section p{
    margin-top: 1.5em;
}

section p a{
    text-decoration: none;
    color: #ffffff;
}

/*HOME*/

section button {
    background-color: transparent;
    color: white;
    transition: var(--transition);
    border: none;
    padding: 0.5em 1em;
    border-radius: 9px;
    font-size: 1em;
    
}

.back-button {
    margin-top: -38%;
    margin-right: 80%;
   
  }
  
  .back-button i {
    margin-right: 5px;
  }

#price-container p{
    color: white;
    margin-top: -43%;
    margin-left: 33%;
    
}

button {
    padding: 10px;
    border: none;
    background-color: #ccc;
    color: #fff;
    cursor: pointer;
  }
  
  .on {
    background-color: green;
    border-radius: 52px;
    margin-left: 15%;
    margin-top: 6%;
  }
  
  .off {
    background-color: red;
    border-radius: 52px;
    margin-left: 15%;
    margin-top: 6%;

  }
  
  #toggle-text {
    margin-left: 10px;
  }
  

/*card*/
.card {
    width: 400px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-left: 25%;
  }

  @keyframes progressAnimation {
    0% { width: 0; }
  }
  
  .card {
    /* Estilos de la tarjeta */
  }
  
  .progress-bar {
    /* Estilos de la barra de progreso */
    animation: progressAnimation 1s forwards;
  }
  
/*transferir*/
.transferir{
    border-radius: 32px;
    margin-top: 10px;
    background-color: #12448b;
}

.entrada{
    border: none;
}




  
  .balance {
    margin-top: 20px;
  }
  
  .amount {
    font-size: 24px;
    font-weight: bold;
  }
  
  .progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 4px;
    margin-top: 10px;
    overflow: hidden;
    animation: progressAnimation 1s forwards, flashAnimation 3s infinite;
  }
  
  .progress {
    width: 60%; /* Valor de ejemplo para la barra de progreso */
    height: 100%;
    background-color: green;
    transition: width 0.10s ease; /* Animación de transición suave */
    
  }
  
  







/*fondo de login*/
#background-video {
    object-fit: cover;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  